@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin box() {
  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 46px;
    right: 0;
    width: 50%;
    height: 1.5em;
    background: $white;
  }
}

@mixin banner-size($image_url) {
  width: 100%;
  height: 390px;
  background: image-url($image_url);
}

@mixin link($color) {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin right-container {
  background-color: $white;
  width: 700px;
  margin: 0 auto;
}

@mixin sns-icon($color) {
  background-color: $color;
  border-radius: 4px;
  text-decoration: none;
  line-height: 44px;
  height: 44px;
  width: 44px;
  display: inline-block;
}

@mixin tab_style($btn_class,$btn_name){
  background-color: #fff;
  #{$btn_class} {
    width: calc(100%/2);
    height: 80px;
    background-color: #eee;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #333;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    touch-action: manipulation;
    cursor:pointer;
    &:hover {
      opacity:0.7;}
    }
  #{btn_class}:hover {
    opacity: 0.7;
  }
  input[name= #{$btn_name}] {
    display: none;
  }
  input:checked + #{$btn_class} {
    background-color: #fff;
    color: #333;
    border-top: 2px solid #ea352d;
  }
  .tab_pages {
    display: none;
    // min-height: 15vw;
    padding: 3%;
    clear: both;
    overflow: hidden;
    .none-content{
      padding: 160px 0 60px;
      background: image-url("logo-gray-icon.svg");
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
}

