.main_contents
  .left_block
    %nav.mypage_block
      %ul.mypage_block_list
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            マイページ
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            やることリスト
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            お知らせ
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            いいね！一覧
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            出品する
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            出品した商品 - 出品中
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            出品した商品 - 取引中
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            出品した商品 - 売却済み
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            過去の取引
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            購入した商品 - 取引中
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            ニュース
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            評価一覧
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            ガイド
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => "https://www.mercari.com/jp"}
            問い合わせ
            %i.fas.fa-angle-right
      %h3.merupay メルペイ
      .merupay_list
        %li
          %a.mypage_block_list_item{:href => ""}
            売り上げ・振込申請
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            ポイント
            %i.fas.fa-angle-right
      %h3.configuration 設定
      .configuration_list
        %li
          %a.mypage_block_list_item{:href => ""}
            プロフィール
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            発送元・お届け先住所変更
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            支払い方法
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            メール/パスワード
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            本人情報
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            電話番号確認
            %i.fas.fa-angle-right
        %li
          %a.mypage_block_list_item{:href => ""}
            ログアウト
            %i.fas.fa-angle-right
