
.payment
  = render partial: "shared/sidebar"
  .payment__container
    .payment__container__title
      %h2 支払い方法
    -if @creditcard
      .payment__container__box
        %p クレジットカード一覧
        / %ul.setting-payment
        %ul.payment__container__list
          %li.setting-payment-list
            %form.l-single-content
              %figure
                %img{src:"https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3160895340"}
              .l-single-content-num
                = "************4242"
              .l-single-content-num 12 / 20
              = link_to "削除する" ,{action: 'dele'},{method: :post, class: "l-single-content-remove"}
      .payment__container__about
        =link_to "支払い方法について", ""
        %i.fas.fa-chevron-right
    -else
      .payment__container__box
        %p 未登録
        .actions
          = form_tag(action: :register, method: :post) do
            %script.payjp-button{"data-key":'pk_test_0f478928652178c3402b438c', :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "登録する"}
      .payment__container__about
        =link_to "支払い方法について", ""
        %i.fas.fa-chevron-right
