.bread-crumbs{
  height: 50px;
  border-top: 1px solid #eee;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
}

.breadcrumbs{
  width: 1020px;
  margin: 0 auto;
  padding: 16px 0;
  a{
    color: $black;
    font-size: 14px;
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
  span {
    color: $black;
    font-size: 14px;
    font-weight: bold;
  }
  .current {
    color: $black;
    font-size: 14px;
    font-weight: bold;
  }
  i {
    margin: 0 5px;
    color: #888;
    font-size: 16px;
  }
}
