.top-app-banner{
  color: $white;
  height: 260px;
  width: 100vw;
  background: image-url("footer_image.jpg");
  background-size: cover;
  &__content{
    height: 260px;
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__inner{
      width: 420px;
      align-self: center;
      &__introduction {
        font-size: 24px;
      }
      p{
        font-size: 35px;
      }
      ul{
        left: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
    &__iphone{
      height: 260px;
    }
  }
}

.fa-twitter {
    font-size: 30px;
    font-weight: 400;
}

.fa-facebook {
    font-size: 30px;
    color: $white;
    font-weight: 400;
}

.under-footer--sociallinks {
  display:flex;
  margin: 16px 18px 0 0;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

#privacy {
  padding-top: 38px;
}

.under-footer {
    background: #212121;
    color: $white;
    padding: 0 20px 10px 20px;
    list-style: none;
    box-sizing: center;
    text-decoration: none;
    &--lists {
      margin-top: 18px;
      text-align: left;
      margin: 0 auto;
      width: 950px;
    }
    &--list {
      display: inline-block;
      vertical-align: top;
      padding-right: 16px;
      li {
        font-size: 12px;
        margin: 14px 0 0;
        color: $white;
       a {
          color: $white;
          opacity: .7;
          text-decoration: none;
      }
    }
  }
}

.under-footer--list li a:hover {
  text-decoration: underline;
}

#title1,#title2,#title3,#title4 {
  font-weight: 500;
  font-size: 16px;
}

.footer-bottom{
  color:white;
  height: 33px;
  width: 1020px;
  margin: 30px 0 20px 0;
  li {
    float:left;
  }
  .copyright{
    margin-top: 5px;
    width: 745px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}
