.contents {
  margin: 0 auto;
  overflow: hidden;
.search-result-container {
  display: inline-block;
    margin: 0 auto;
    width: 720px;
    .search-result-head {
      margin-left: 10px;
      font-size: 22px;
      margin-bottom: 5px;
    }
    .items-box-container {
      margin: 0 auto;
      width: 720px;
      .text-center {
        font-size: 22px;
        margin: 26px 11px;
        text-align: center;
        .genre {
          @include link($blue);
        }
      }

      .items-box-content {
        @include clearfix();
        .items-box {
          box-sizing: border-box;
          width: 160px;
          height: 270px;
          background-color: $white;
          margin: 0 10px;
          float: left;
          margin-bottom: 80px;
          position: relative;
          .item-link {
            text-decoration: none;
            .items-box-photo {
              margin: auto;
              height: 160px;
              width: 160px;
              overflow: hidden;
              position: relative;
              .sold-tag{
                border-right: 100px solid transparent;
                border-top: 100px solid red;
                position: absolute;
                top: 0;
              }
              .sold-tag-name{
                position: absolute;
                top: 0;
                color: #fff;
                font-size: 23px;
                font-weight: 600;
                transform: rotate(-45deg);
                padding: 20px 10px 0 0;
              }
            }
            .items-box-body {
              height: 110px;
              width: 160px;
              position: absolute;
              bottom: 0;
              padding: 16px;
              box-sizing: border-box;
              display: block;
              .items-box-name {
                @include box();
                font-weight: 400;
                margin: auto;
                height: 3em;
                overflow: hidden;
                color: $black;
                line-height: 1.5em;
                white-space: normal;
                font-size: 16px;
                text-align: left;
              }
              .items-box-num {
                @include clearfix();
                margin-top: 5px;
                color: $black;
                .items-box-price {
                  float: left;
                  font-weight: 600;
                }
                .items-box-likes {
                  float: right;
                  .icon-like-border {
                    font-size: 16px;
                    margin-right: 4px;
                    display: inline-block;
                  }
                  .like-num {
                    margin-top: 1px;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 12px;
                  }
                }
                .item-box-tax {
                  font-size: 10px;
                  clear: both;
                  margin: 0 auto;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  .search-content {
    width: 280px;
    margin-right: 40px;
    float: left;
    margin-bottom: 40px;
    .search-form {
      &__item-sort {
        &__pull-down {
          position: relative;
          &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            display: block;
            width: 280px;
            height: 48px;
            padding: 0 16px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            color:gray;
          }
          &__icon{
            position: absolute;
            font-size: 18px;
            right: 22px;
            top: 17px;
            color: #888;
            margin-left: 190px;
          }
        }
      }
      &__detail {
        padding: 16px;
        margin-top: 40px;
        box-sizing: border-box;
        background-color: #fff;
        &__head {
          color: #333;
          font-size: 16px;
          font-weight: bold;
        }
        &__keyword {
          @include search-input-form;
          margin-top: 24px;
        }
        &__category {
          @include search-select-form;
          @include collection-check-boxes;
        }
        &__brand {
          @include search-input-form;
        }
        &__size {
          @include search-select-form;
        }
        &__price {
          @include search-select-form;
          &__inputs {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            &__min {
              display: block;
              height: 48px;
              width: 45%;
              padding: 10px 16px 8px;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius:6px;
            }
            &__wave {
              align-self: center;
            }
            &__max {
              display: block;
              height: 48px;
              width: 45%;
              padding: 10px 16px 8px;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius:6px;
            }
          }
        }
        &__condition {
          @include search-label;
          @include collection-check-boxes;
        }
        &__postage {
          @include search-label;
          @include collection-check-boxes;
        }
        &__sale {
          @include search-label;
          @include collection-check-boxes;
        }
        &__button {
          padding-top: 40px;
          display: flex;
          justify-content: space-between;
          &__clear {
            @include search-clear-button;
          }
          &__submit {
            @include search-clear-button;
            background-color: #ea352d;
            border: 1px solid #ea352d;
          }
        }
      }
    }
  }
    .select-wrapper {
      position: relative;
      &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        width: 250px;
        height: 48px;
        margin-top: 8px;
        padding: 0 16px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
        color:gray;
        box-sizing: border-box;
      &__icon_search {
        position: absolute;
        font-size: 18px;
        right: 22px;
        top: 17px;
        color: #888;
        margin-left: 190px;
      }
    }
  }
}
