.sell-form-wrapper {
  width: 100%;
  .sell-form {
    width: 700px;
    margin: 0 auto;
    background: $white;
    &__header {
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      padding: 20px 0 20px;
      border-bottom: 1px solid #eee;
    }
    .sell-form-container {
      padding: 40px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      &__label {
        font-weight: bold;
      }
      &__require {
        font-weight: bold;
        color: #fff;
        background: #EA352D;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        margin-left: 5px;
      }
      .dropzone-container {
        margin-top:16px;
        #preview {
          float: left;
        }
        .dropzone-area,
        .dropzone-area2 {
          width: 100%;
          height: 160px;
          background: #F5F5F5;
          text-align: center;
          line-height: 160px;
          position: relative;
          float: right;
          border: 1px dashed #ccc;
          .dropzone-box {
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: block;
            p {
              overflow: hidden;
            }
            #upload-image {
              display: none;
            }
          }
        }
        .dropzone-area2 {
          margin-top: 10px;
          display: none;
        }
      }
      #preview {
        .img_view {
          height: 160px;
          width: 116px;
          float: left;
          box-sizing: border-box;
          margin-left: 10px;
          border: 1px solid #ccc;
          &:nth-child(5n+1) {
            margin-left: 0;
          }
          img {
            width: 114px;
            height: 120px;
          }
          .btn_wrapper {
            width: 120px;
            height: 40px;
            color: #0399E8;
            .btn {
              text-align: center;
              line-height: 100%;
              float: left;
              width: 60px;
              height: 100%;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      #preview2 {
        // display: none;
        .img_view {
          height: 160px;
          width: 116px;
          float: left;
          box-sizing: border-box;
          margin-left: 10px;
          border: 1px solid #ccc;
          &:nth-child(5n+1) {
            margin-left: 0;
          }
          img {
            width: 114px;
            height: 120px;
          }
          .btn_wrapper {
            width: 120px;
            height: 40px;
            color: #0399E8;
            .btn {
              text-align: center;
              line-height: 100%;
              float: left;
              width: 60px;
              height: 100%;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .form-group {
        &#size {
          display: none;
        }
        &#brand {
          display: none;
        }
        &#method {
          display: none;
        }
        margin-bottom: 20px;
        label {
          font-weight: bold;
        }
        &__require {
          font-weight: bold;
          color: #fff;
          background: #EA352D;
          padding: 5px;
          border-radius: 5px;
          font-size: 10px;
          margin-left: 5px;
        }
        &__optional {
          font-weight: bold;
          color: #fff;
          background: $gray;
          padding: 5px;
          border-radius: 5px;
          font-size: 10px;
          margin-left: 5px;
        }
        &__product-name {
          border: 1px solid $gray;
          border-radius: 5px;
          margin-top: 10px;
          width: 620px;
          padding: 10px 8px 16px;
        }
        &__product-description {
          padding: 10px 8px 16px;
          width: 598px;
          height: 120px;
          padding: 10px;
          border: 1px solid $gray;
          margin-top: 10px;
        }
      }
      &__sell-sub-head {
        float: left;
        color: #888;
      }
      a.form-question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $blue;
        color: $white;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      &__sell-form-box {
        float: right;
        .form-group {
          .select-wrapper-all {
            .select-wrapper {
            position: relative;
            &__select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              appearance: none;
              margin-top: 10px;
              width: 400px;
              box-sizing: border-box;
              height: 50px;
              background: #fff;
              border: 1px solid #ccc;
              padding: 10px;
            }
            &__icon {
              position: absolute;
              top: 25px;
              right: 20px;
            }
          }
        }
          .select-wrapper {
            position: relative;
            &__select {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              appearance: none;
              margin-top: 10px;
              width: 400px;
              box-sizing: border-box;
              height: 50px;
              background: #fff;
              border: 1px solid #ccc;
              padding: 10px;
            }
            &__icon {
              position: absolute;
              top: 25px;
              right: 20px;
            }
          }
        }
        .form-group-price {
          width: 400px;
          padding: 25px 0;
          border-bottom: 1px solid #ccc;
          &:last-child {
            font-weight: bold;
          }
          &__left {
            float: left;
            &__label {
              font-weight: bold;
            }
            &__require {
              font-weight: bold;
              color: #fff;
              background: #EA352D;
              padding: 5px;
              border-radius: 5px;
              font-size: 10px;
              margin-left: 5px;
            }
            &__input {
              border-radius: 5px;
              width: 160px;
              box-sizing: border-box;
              border: 1px solid #ccc;
              padding: 10px 16px 8px 16px;
            }
          }
          &__right {
            float: right;
          }
          #profit {
            font-size: 34px;
          }
        }
      }
    }
    .sell-form-btn-content {
      padding: 40px;
      &__submit {
        width: 620px;
        height: 50px;
        margin: 40px auto;
        background: #EA352D;
        color: #fff;
        cursor: pointer;
      }
      &__back {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 280px;
        height: 50px;
        background: #aaa;
        color: #fff;
        line-height: 50px;
        cursor: pointer;
      }
    }
  }
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
