.single-container {
  height: auto;
  width: 1440px;
  padding-bottom: 220px;
  background-color: $light-gray;
  display: block;
  &--single-main {
    height:auto;
  }
}
.l-single-container--buy-item-container{
  width: 700px;
  height: auto;
  margin: 0px 370px;
  display: block;
  background-color: $white;
  margin: 0 auto;
  h2.l-single-head{
    height:33px;
    width:668px;
    padding:32px 16px;
    font-size:22px;
    line-height:1.5;
    text-align:center;
    font-weight:bold;
    font-family:"Source Sans Pro";
    color:$black;
  }
}
.sell-form {
  height:auto;
  width:700px;
  border-top: 1px solid #eee;
  .sell-upload-box {
    height:233px;
    width: 540px;
    padding: 40px;
  }
}

// 出品画像
  h3.sell-upload-head {
    // width:540px;
    font-size:100%;
    display: block;
    font-weight:bold;
    color: $black;
  }
.sell-dropbox-container--state-image-number-10 {
  .sell-upload-drop-box {
    position: relative;
    min-height: 162px;
    background-color: $gray;
    border: dashed 1px $light-gray;
    text-align:center;
    height:172px;
    width:620px;
    margin:16px -80px 0 0;
    margin-left:2%;
  }
}

// .sell-upload-drop-box--have-item-1 {
//   height:80px;
//   width:409px;
//   padding:40px;
//   border: dashed 1px $light-gray;
//   margin-bottom: 10px;
//   background-color: $light-gray;
//   margin-left:12.391px;
// }


  // .sell-upload-box {
  //   width: 540px;
  //   height: 233px;
  //   padding: 40px;
  // }
  // .sell-upload-items--have-item-1 {
  //   height:172px;
  //   width:116px;
  //   .sell-upload-item {
  //     height:160px;
  //     border: solid 1px $light-gray;
  //     margin-bottom: 10px;
  //     background-color: $light-gray;
  //   }
  //   .sell-upload-figure--portrait {
  //     height:116px;
  //     width:114px;
  //   }
  // }
  // .sell-upload-file:first-of-type{
  //   @extend .sell-upload-file;
  //   margin:  0 0 10px 0px;
  // }

  // .sell-upload-file:nth-of-type(6){
  //   @extend .sell-upload-file;
  //   margin:  0 0 10px 0px;
  // }

  // .sell-upload-drop-file{
  //   height: 100%;
  //   width: 100%;
  //   opacity: 0;
  // }
  // .sell-upload-head+p {
  //   margin: 8px 0 0;
  //   line-height: 1.5;
  // }
  // .sell-upload-items ul {
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   width: 100%;
  // }
   .sell-upload-drop-box{
    margin: 0 0 20px 0;
    background-color:$light-gray;
   }

  .sell-upload-drop-box .icon-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 14px;
  }
  .sell-upload-drop-box pre {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .form-require {
    background: $red;
  }
  .form-any {
    background: #ccc;
  }
  .form-require, .form-arbitrary, .message-is-seller, .news-private, .form-any {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    vertical-align: top;
  }
  pre {
    overflow: auto;
  }

// 商品名
.form-group:first-child {
  width: 620px;
  height: 70px;
  margin: 0;
}
label {
  font-weight: bold;
  display: inline-block;
  cursor: default;
  font-size:14px;
}
.form-group label {
  font-weight: 600;
}
.input-default {
  width: 586px;
  height:28px;
  padding:10px 16px 8px;
  border:solid 1px #ccc;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 4px;
  margin-top:8px;
}
.form-group {
  width: 620px;
  height: 164px;
  margin-top: 40px;
}
.form-group label + .textarea-default {
  margin: 8px 0 0;
}
.textarea-default {
  display: block;
  width: 100%;
  max-width:100%;
  min-height: 104px;
  background-color: $white;
  line-height: 1.5;
  padding: 10px;
  border:solid 1px $deep-gray;
  font-size: 16px;
  border-radius: 4px;
}
textarea {
  overflow: auto;
}
h3.sell-sub-head {
  font-weight: bold;
  float: left;
  color: #888;
  font-size: 14px;
  display: inline-block;
  float:left;
}
.sell-form-box {
  height: 180px;
  width: 400px;
  float: right;
}
.sell-form-box .form-group {
  width: 400px;
  height: 70px;
}
.form-group .select-wrap {
  height: 48px;
  width: 400px;
  margin-top: 8px;
}
.select-wrap {
  position: relative;
  background-color: $white;
}
.select-default {
  position: relative;
  z-index: 2;
  height: 46px;
  width: 366px;
  padding:0 16px;
  border-radius: 4px;
  border: 1px solid $deep-gray;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.select-wrap.fas.fa-chevron-down {
  height: 10px;
  width: 16.281px;
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
  .fas.fa-chevron-down {
    display: inline-block;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}
.sell-content {
  width: 620px;
  height: 274px;
  padding: 40px;
  border-top: solid 1px $gray;
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    border-style: solid;
    border-width: 0;
  }
  .form-question {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #0099e8;
    color: $white;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
  }
  a.form-question {
    text-decoration: none;
  }
}
.sell-content2 {
  height: 180px;
}
.sell-content3 {
  height: 290px;
}
.sell-content4 {
  height: 218px;
}

// 販売価格
.sell-price>li:first-child {
  padding: 0 0 24px;
  border: 0;
  height: 72px;
}
.sell-price>li {
  border-top: 1px solid #ccc;
}
.sell-price .form-group .l-left {
  width: 50%;
  line-height: 1.5;
}
.sell-price .form-group .l-right {
  width: 50%;
}
.sell-price .clearfix {
  padding: 24px 0 24px;
}
.sell-price .bold .l-left {
  font-size: 16px;
}
.sell-price .bold .l-right {
  font-size: 34px;
}
.sell-price-input {
  text-align: right;
  margin: 0;
}
.sell-price-input>div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}
.sell-price-input .input-default {
  margin: 0;
  text-align: right;
  width: 126px;
}
.l-right {
  float: right;
  padding: 0;
}
.l-left {
  float: left;
  padding: 0;
}
.bold {
  font-weight: 600;
}
.sell-btn-box p {
  line-height: 1.5;
}
.sell-btn-box {
  .btn-red {
    width: 100%;
  }
}
p {
  margin: 8px 0 0;
  line-height:1.5;
  display:block;
  font-family:"Source Sans Pro";
  color:$black;
  font-size:14px;
}
a {
  color:$blue;
  text-decoration:none;
}
// ボタン
.sell-btn-box .btn-red {
  margin: 40px 0 0;
}
.btn-default {
  width: 100%;
  display: block;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
.btn-red {
  border: solid 1px $red;
  background-color: $red;
  color: $white;
}
.sell-btn-box .btn-gray {
  width: 45%;
  margin:24px auto 0;
}
.btn-gray {
  background-color: #aaa;
  border: solid 1px #aaa;
  color: $white;
}
li {
  list-style-type: none;
}
// }
