.account-wrapper {
  background-color: $lightgray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  height: 100%;
}

.account-header {
  position: relative;
}

#account-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

article {
  width: 700px;
  height: auto;
  margin: 0 auto;
  background-color: $white;
  .head-title {
    width: 668px;
    height: 33px;
    padding: 32px 16px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    color: $black;
    font-weight: bold;
  }
  .content-head {
    border-top: 1px solid #f5f5f5;
    padding: 64px;
    .content-inner {
      width: 320px;
      height: 182px;
      margin: 0 auto;

      .btn-mail-link {
        text-decoration: none;
        color: $black;
        .btn-mail {
          width: 320px;
          height: 50px;
          background-color: #eee;
          position: relative;
          &:hover {
            background-color: #f2f2f2;
          }
          i {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translate(0, -50%);
            font-size: 16px;
            color: #ccc;
          }
          span {
            position: absolute;
            font-size: 14px;
            line-height: 48px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }

      .btn-fb-link {
        text-decoration: none;
        color: $white;
        .btn-fb {
          width: 320px;
          height: 50px;
          margin-top: 16px;
          background-color: #385185;
          position: relative;
          i {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translate(0, -50%);
            font-size: 26px;
            color: $white;
          }
          span {
            position: absolute;
            font-size: 14px;
            line-height: 48px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }

      .btn-ggl-link {
        text-decoration: none;
        color: $white;
        .btn-ggl {
          width: 318px;
          height: 48px;
          border: #979797 solid 1px;
          margin-top: 16px;
          background-color: $white;
          position: relative;
          i {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translate(0, -50%);
            font-size: 18px;
            color: $black;
          }
          span {
            position: absolute;
            color: $black;
            font-size: 14px;
            line-height: 48px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}


.account-footer {
  width: 700px;
  padding: 40px 0;
  margin: 0 auto;
  ul {
    margin: 0 auto;
    display: table;
    li {
      display: table-cell;
      text-align: center;
      padding: 0 16px 0 0;
      font-size: 12px;
      a {
        text-decoration: none;
        &:link {
          color: $black;
        }
        &:visited {
          color: $black;
        }
        &:hover {
          color: $darkgray;
        }
      }
    }
  }
}

#account-bottom-logo {
  display: block;
  width: 80px;
  height: 65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px auto 0 auto;
}
.copyright {
  width: 700px;
  margin: 8px auto;
  p {
    text-align: center;
    font-size: 8px;
    color: $black;
  }
}

//-----------------------------------account-account-header-step-box

.account-header-step-box {
  position: relative;

  #account-logo-step {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h1 {
    padding-top: 40px;
    text-align: center;
    float: left;
  }

  nav {
    border: 0;
    text-align: center;
    float: right;
  }
  .progress-bar {
    padding: 21px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    ol {
      margin: 0;

      li {
        float: left;
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        &:after{
          left: 50%;
          content: "";
          position: absolute;
          bottom: 5px;
          border-radius: 0;
          border-bottom: 2px solid #ccc;
          width: 100%;
          z-index: 0;
          display: block;
          height: 2px;
        }
        &:before{
          right: 50%;
          content: "";
          position: absolute;
          bottom: 5px;
          border-radius: 0;
          border-bottom: 2px solid #ccc;
          width: 100%;
          z-index: 0;
          display: block;
          height: 2px;
        }
      }
      .active {
        font-weight: 600;
        color: $red;
        min-width: 60px;
        position: relative;

        &:after {
          left: 50%;
          content: "";
          position: absolute;
          bottom: 5px;
          border-radius: 0;
          border-bottom: 2px solid $red;
          width: 100%;
          z-index: 1;
          display: block;
          height: 2px;
        }

        &:before {
          right: 50%;
          content: "";
          position: absolute;
          bottom: 5px;
          border-radius: 0;
          border-bottom: 2px solid $red;
          width: 100%;
          z-index: 1;
          display: block;
          height: 2px;
        }

        .progress-status {
          height: 11px;
          width: 11px;
          border-radius: 50px;
          background: $red;
          margin: 0 auto;
          position: relative;
          z-index: 1;
        }
      }
      .first::before {
        content: none;
      }
      .last::after {
        content: none;
      }
      .progress-status {
        height: 11px;
        width: 11px;
        border-radius: 50px;
        background: #ccc;
        margin: 0 auto;
        position: relative;
      }
    }
  }
}



//横767pxでスマホ用、横768pxでPC用

//--------PC用--------
@media screen and (min-width: 768px) {
  .account-header {
    height: 128px;
  }
  #account-logo {
    width: 193px;
    height: 49px;
  }

  .account-footer {
    height: 220px;
  }

  .account-header-step {
    height: 128px;
  }
  .account-header-step-box {
    width: 768px;
    margin: 0 auto;
  }
  #account-logo-step {
    width: 185px;
    height: 49px;
    margin: 40px 0 0 0;
  }
}



//--------スマホ用--------
@media screen and (max-width: 767px) {
  .account-header {
    height: 56px;
  }
  #account-logo {
    width: 128px;
    height: 33x;
  }

  .account-footer {
    height: 250px;
  }

  .account-header-step-box {
    margin: 0 auto;
  }

  #account-logo-step {
    width: 120px;
    height: 33px;
    margin: 12px auto;
  }
}
