.account-wrapper {
  background-color: $lightgray;
}

.account-header {
  position: relative;
}

#account-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.account-footer {
  width: 700px;
  padding: 40px 0;
  margin: 0 auto;
  ul {
    margin: 0 auto;
    display: table;
    li {
      display: table-cell;
      text-align: center;
      padding: 0 16px 0 0;
      font-size: 12px;
      a {
        text-decoration: none;
        &:link {
          color: $black;
        }
        &:visited {
          color: $black;
        }
        &:hover {
          color: $darkgray;
        }
      }
    }
  }
}

#account-bottom-logo {
  display: block;
  width: 80px;
  height: 65px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px auto 0 auto;
}
.copyright {
  width: 700px;
  margin: 8px auto;
  p {
    text-align: center;
    font-size: 8px;
    color: $black;
  }
}

//横767pxでスマホ用、横768pxでPC用

//--------PC用--------
@media screen and (min-width: 768px) {
  .account-header {
    height: 128px;
  }
  #account-logo {
    width: 193px;
    height: 49px;
  }

  .account-footer {
    height: 220px;
  }
}

//--------スマホ用--------
@media screen and (max-width: 767px) {
  .account-header {
    height: 56px;
  }
  #account-logo {
    width: 128px;
    height: 33x;
  }

  .account-footer {
    height: 250px;
  }
}
