- @kids.each do |item|
  %section.items-box
    = link_to item_path(item.id), class: "item-link" do
      %figure.items-box-photo
        = image_tag item.item_images.first.image, class: "items-box-photo"
      .items-box-body
        %h3.items-box-name
          = item.name
        .items-box-num
          .items-box-price
            = "¥" + number_with_delimiter(item.price)
          .items-box-likes
            %i.icon-like-border
              %i.far.fa-heart
            %span.like-num 33
          %p.item-box-tax (税込)
