%article.maincontent
  %h2.head-title
    会員登録完了
  .content-head
    .content-inner-form
      .field
        %p.text-content
          %p ありがとうございます。
          %p 会員登録が完了しました。

        %a{:href => "/"}
          .red-button　メルカリを始める